name: check

on:
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      # - name: Set NPM Variables
      #   run: echo "$PACKAGES_NPMRC" > .npmrc
      #   env:
      #     PACKAGES_NPMRC: ${{ secrets.PACKAGES_NPMRC }}
      - name: Install packages
        run: yarn install
      - name: Linter
        run: yarn lint
      - name: Test
        run: yarn test --coverage
